.page {
  min-width: 320px;
  max-width: 1184px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}