@import url('./__items/photo-grid__items.css');
@import url('./__item/photo-grid__item');
@import url('./__item-img/photo-grid__item-img.css');

.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 48px;
}