@import url('./__item/place__item.css');
@import url('./__items/places__items.css');
@import url('./__website/place__website.css');
@import url('./__title/place__title.css');
@import url('./__image/place__image.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__link/place__link.css');
@import url('./__paragraph/place__paragraph.css');

.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 48px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 92px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 92px 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 64px 0 0 0;
  }
}