@import url('./__items/places__items.css');

.places {
  max-width: 984px;
  padding: 92px 48px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .places {
    padding: 92px 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 64px 0;
  }
}