.place__item {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: calc(50% - 48px) calc(50% - 24px);
  padding-bottom: 80px;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place__item {
    grid-gap: 48px 32px;
    padding-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .place__item {
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    grid-gap: 48px 28px;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 320px) {
  .place__item {
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
    padding-bottom: 64px;
  }
}